<div class="page-layout">
  <div class="page-tittle">Web-rtc Demo</div>
  <div class="tittle-group">
    <div class="tittle-combo">
      <div class="tittle">Chat Room</div>
      <div class="tittle-count">{{streamList?.length}}</div>
    </div>
    <div (click)="openDialog()" class="create">Create New</div>
  </div>
  <div class="page-content">
    <div class="stream-list">
      <app-stream-item *ngFor="let item of streamList" [streamItem]="item" (click)="gotRemoteStream()"></app-stream-item>
    </div>
<!--    <app-stream-video></app-stream-video>-->
    <div class="video-wrapper">
      <video #streamVideo autoplay></video>
    </div>
  </div>
</div>
<button (click)="me()">click me</button>
